.univer {
    // .univer-forms

    &-forms {
        overflow: unset;
        padding-bottom: 35px;

        @media (max-width: 767.98px) {
            padding-bottom: 31px;
        }
    }
    // .univer__tabs

    &__tabs {
        margin-bottom: 40px;

        @media (max-width: 767.98px) {
            margin-bottom: 20px;
        }

        span {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #233066;
            margin-bottom: 16px;
            display: block;

            @media (max-width: 767.98px) {
                margin-bottom: 49px;
            }
        }
        // .univer__tabs-body

        &-body {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 16px;

            @media (max-width: 767.98px) {
                grid-template-columns: repeat(2, 1fr);

                .tab-select._select {
                    grid-column: span 2;
                }
            }

            a {
                background: #d6f1fb;
                border-radius: 30px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: #233066;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 6.5px 0;
            }

            @media (max-width: 1096px) {
                .tab-select img {
                    left: 10px;
                }
            }

            @media (max-width: 860px) {
                .tab-select img {
                    left: 2px;
                }
            }

            @media (max-width: 767.98px) {
                .tab-select img {
                    position: absolute;
                    right: 20px;
                    left: unset;
                    top: calc(50% - 3px);
                }
            }
        }
    }

    // .univer__search

    &__search {
        background: #f2fcff;
        border: 1px solid #d3ecf4;
        border-radius: 10px;

        @media (max-width: 767.98px) {
            background: unset;
            border: none;
            border-radius: 0;
        }

        // .univer__search-body

        &-body {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 17px 34px 17px 14px;

            @media (max-width: 767.98px) {
                display: block;
                padding: 0;
            }

            form {
                @media (max-width: 767.98px) {
                    background: #f2fcff;
                    border: 1px solid #d3ecf4;
                    border-radius: 10px;
                    padding: 20px 12px;
                }

                flex: 1 1 auto;
                input {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: #767272;
                    width: 100%;
                }
            }
        }

        // .univer__search-advenced

        &-advenced {
            display: flex;
            align-items: center;
            position: relative;

            @media (max-width: 767.98px) {
                margin-top: 20px;
                justify-content: space-between;
            }

            span {
                display: block;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #767272;
                margin-right: 25px;
            }

            button {
                &._rotate {
                    img {
                        transform: rotate(90deg);
                    }
                }

                position: relative;
                top: 3px;

                img {
                    transition: all 0.3s ease 0s;
                    pointer-events: none;
                }
            }

            // .univer__search-advenced-selects

            &-selects {
                display: flex;
                position: absolute;
                right: 0;
                top: 185%;

                @media (max-width: 767.98px) {
                    top: 150%;
                    display: block;
                }

                opacity: 0;
                pointer-events: none;
                z-index: -50;
                transition: all 0.3s ease 0s;

                &._active {
                    opacity: 1;
                    pointer-events: all;
                    z-index: 50;
                }

                & > :not(:last-child) {
                    margin-right: 20px;

                    @media (max-width: 767.98px) {
                        margin-right: 0;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    // .univer__item

    &__item {
        background: #ffffff;
        border-radius: 20px;
        padding: 29px 51px 27px 51px;
        margin-bottom: 20px;

        @media (max-width: 767.98px) {
            padding: 26px 17px 101px 17px;
            margin-bottom: 34px;

            .univer__information {
                flex-direction: row-reverse;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 23px;
            }

            .univer__information-top {
                padding: 0;
            }

            .univer__information-adress {
                margin-bottom: 24px;
            }

            .univer__information-logo {
                margin-right: 0;
                margin-left: 20px;
                width: 103px;
                flex: 0 0 103px;
                height: 70px;
            }

            .univer__information-data {
                display: none;
            }

            .table-mobile__more {
                margin-top: 12px;
            }
        }

        @media (max-width: 360px) {
            .univer__information-logo {
                margin-left: 10px;
                width: 100px;
                flex: 0 0 100px;
                height: 68px;
            }
        }

        .univer__table-body {
            & > :last-child {
                li {
                    padding-bottom: 10px;
                }
            }
        }

        .univer__information-adress a {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #233066;
            margin-bottom: 3px;
        }

        .univer__table-head li {
            &.head-faculty,
            &.head-profession {
                flex: 0 1 185px;
            }
        }

        .univer__table-body li {
            &.faculty-name,
            &.profession {
                flex: 0 1 201px;
                font-size: 12px;
                font-weight: 600;
                padding-right: 5px;
            }
        }

        ol li {
            &.head-theme,
            &.head-paid-place,
            &.head-free-place,
            &.head-paid-points,
            &.head-free-points,
            &.head-total {
                flex: 0 1 107px;
            }
        }

        ol li {
            &.faculty-theme,
            &.paid-place,
            &.paid-points,
            &.free-place,
            &.free-points,
            &.total {
                flex: 0 1 107px;
            }
        }

        .univer-name {
            margin-bottom: 17px;

            @media (max-width: 767.98px) {
                font-size: 20px;
                line-height: 25px;
                margin-bottom: 0;
            }

            @media (max-width: 360px) {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }

    // .univer-name

    &__name {
        margin-bottom: 17px;
    }

    // .univer__more

    &__more {
        margin-top: 5px;
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 12px;
        color: #233066;
        display: block;

        @media (max-width: 767.98px) {
            display: none;
        }
    }
}

.show__search-results {
    // .show__search-results-body

    &-body {
        h3 {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            margin: 29px 0 47px 0;
            color: #233066;

            @media (max-width: 767.98px) {
                font-size: 18px;
                line-height: 22px;
                margin: 42px 0 34px 0;
            }
        }
    }
}

.univer-name {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #233066;
    display: block;
}

.tab-select {
    cursor: pointer;
    background: #d6f1fb;
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #233066;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6.5px 0;
    position: relative;

    img {
        position: relative;
        left: 30px;
        top: 1px;
    }

    // .tab-select__body

    &__body {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        top: calc(100% + 5px);
        left: 0;
        background: #d6f1fb;
        border-radius: 15px;
        padding: 5px 0;
        overflow: hidden;
        z-index: 51 !important;

        a {
            border-radius: 0;
        }
    }
}

.advenced-select {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 211px;
    text-align: center;
    background: #d6f1fb;
    border-radius: 15px;

    padding: 7px 0;
    overflow: hidden;
    position: relative;
    flex-wrap: wrap;
    height: fit-content;

    a {
        border-radius: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #233066;
        padding: 6.5px 0;
    }

    img {
        width: 12px;
        position: relative;
        left: 30px;
        top: 1px;
    }

    // .advenced-select__body

    &__body {
        flex: 0 0 100%;
        a {
            display: block;
        }

        & > :first-child {
            margin-top: 10px;
        }
    }
}

._select {
    div,
    img {
        pointer-events: none;
    }

    img {
        transition: all 0.3s ease 0s;
    }

    &-body {
        max-height: 0;
        transition: all 0.3s ease 0s;
        opacity: 0;
        z-index: -10;
        pointer-events: none;
    }

    &._active {
        img {
            transform: rotate(180deg);
        }
        ._select-body {
            z-index: 50;
            opacity: 1;
            pointer-events: all;
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    margin-top: 40px;

    & > :not(:last-child) {
        margin-right: 20px;
    }

    a {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #233066;

        &.current-page {
            text-decoration: underline;
        }
    }
}
