$faculty-name-width: 216px;
$profession-width: 237px;
$faculty-theme-width: 107px;
$paid-place-width: 107px;
$paid-points-width: 107px;
$free-place-width: 107px;
$free-points-width: 107px;
$total-width: 135px;

.univer {
    max-width: 100%;
    overflow: hidden;
    padding-top: 125px;

    // .univer__body

    &__body {
        h1 {
            margin-bottom: 44px;
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            color: #233066;

            @media (max-width: 767.98px) {
                font-size: 30px;
                line-height: 37px;
                margin-bottom: 20px;
            }
        }
        h3 {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            margin: 29px 0 47px 0;
            color: #233066;

            @media (max-width: 767.98px) {
                font-size: 30px;
                line-height: 37px;
                margin-bottom: 20px;
            }
        }

        a.address-change-place {
            @media (max-width: 767.98px) {
                display: block;
                font-size: 12px;
                line-height: 15px;
                margin: 0 0 15px 0;
            }
        }
    }

    // .univer__links

    &__links {
        margin-bottom: 39px;
        display: flex;
        align-items: center;

        & > :not(:last-child) {
            margin-right: 65px;

            @media (max-width: 767.98px) {
                margin-right: 20px;
            }
        }

        a {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #233066;

            &.current-page {
                font-weight: 900;

                @media (max-width: 767.98px) {
                    text-decoration: underline;
                }
            }
        }
    }

    // .univer__information

    &__information {
        display: flex;
        align-items: flex-start;
        margin-bottom: 31px;

        .selection-logo {
            width: 221px;
            height: 130px;
        }

        // .univer__information-logo

        &-logo {
            margin-right: 20px;
            width: 270px;
            height: 222px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #a1b4f2;
            border-radius: 10px;

            img {
                object-fit: contain;
            }

            @media (max-width: 767.98px) {
                width: 134px;
                flex: 0 0 134px;
                height: 82px;
            }

            @media (max-width: 375px) {
                width: 124px;
                flex: 0 0 124px;
                height: 76px;
            }

            @media (max-width: 360px) {
                width: 100px;
                flex: 0 0 100px;
                height: 60px;
                margin-right: 10px;
            }
        }

        // .univer__information-content

        &-content {
        }

        // .univer__information-top

        &-top {
            position: relative;
            padding: 7px 0 10px 0;
        }

        // .univer__information-adress

        &-adress {
            label {
                display: block;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: #233066;

                @media (max-width: 767.98px) {
                    display: none;
                }
            }

            a {
                display: block;
                margin: 3px 0 15px 0;
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 27px;
                color: #233066;

                @media (max-width: 767.98px) {
                    font-size: 12px;
                    line-height: 15px;
                    margin: 0 0 15px 0;
                }
            }
        }

        // .univer__information-data

        &-data {
            display: flex;
            align-items: center;

            @media (max-width: 767.98px) {
                flex-wrap: wrap;
                padding-top: 8px;

                p {
                    margin-top: 7px;
                }
            }

            @media (max-width: 360px) {
                padding-top: 0;
            }

            & > :not(:last-child) {
                margin-right: 44px;
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: #233066;
                span {
                    font-weight: 700;
                }
            }
        }

        // .univer__information-points

        &-points {
            h4 {
                margin: 25px 0 5px 0;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: #233066;
            }
        }

        ol {
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-template-rows: auto;
            gap: 0 35px;

            li {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #233066;
                span {
                    font-weight: 700;
                }
            }
        }
    }

    //

    .univer__information-points {
        @media (max-width: 767.98px) {
            margin-bottom: 34px;
        }
        h4 {
            margin: 25px 0 5px 0;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #233066;

            @media (max-width: 767.98px) {
                margin: 0 0 10px 0;
            }
        }
        ol {
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-template-rows: auto;
            gap: 0 35px;

            @media (max-width: 767.98px) {
                display: grid;
                grid-template-columns: repeat(2, auto);
                grid-template-rows: auto;
                gap: 0 26px;
            }

            li {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #233066;

                @media (max-width: 360px) {
                    font-size: 12px;
                    line-height: 15px;
                }

                span {
                    font-weight: 700;
                }
            }
        }
    }

    // .univer__cart

    &__cart {
        @media (max-width: 767.98px) {
            .univer__information {
                margin-bottom: 15px;
            }
        }

        .univer__table-body {
            & > :nth-child(4),
            & > :nth-child(5),
            & > :nth-child(6),
            & > :nth-child(4n + 6),
            & > :nth-child(5n + 6),
            & > :nth-child(6n + 6) {
                position: relative;
                &:before {
                    position: absolute;
                    content: "";
                    left: 50%;
                    transform: translate(-50%, 0);
                    top: 0;
                    width: 100vw;
                    height: 100%;
                    background-color: #d3ecf4;
                    z-index: -1;
                }
            }

            & > :nth-child(3n) {
                li {
                    padding-bottom: 20px;
                }
            }

            & > :first-child,
            & > :nth-child(4),
            & > :nth-child(4n + 3) {
                li {
                    padding-top: 17px;
                }
            }
        }

        .univer__information-top {
            &:before {
                position: absolute;
                content: "";
                left: -50px;
                top: 0;
                width: 687px;
                height: 100%;
                background: #ffffff;
                border-radius: 20px;
                z-index: -1;

                @media (max-width: 767.98px) {
                    display: none;
                }
            }
        }
    }

    // .univer__table

    &__table {
        @media (max-width: 767.98px) {
            display: none;
        }

        // .univer__table-head

        &-head {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 15px;

            li {
                font-style: normal;
                font-weight: 750;
                font-size: 12px;
                line-height: 15px;
                color: #233066;
                width: 100%;

                &.head-faculty {
                    flex: 0 1 $faculty-name-width;
                    padding-right: 20px;
                }
                &.head-profession {
                    flex: 0 1 $profession-width;
                }
                &.head-theme {
                    flex: 0 1 $faculty-theme-width;
                    text-align: center;
                }
                &.head-paid-place {
                    flex: 0 1 $paid-place-width;
                    text-align: center;
                }
                &.head-free-place {
                    flex: 0 1 $free-place-width;
                    text-align: center;
                }
                &.head-paid-points {
                    flex: 0 1 $paid-points-width;
                    text-align: center;
                }
                &.head-free-points {
                    flex: 0 1 $paid-points-width;
                    text-align: center;
                }
                &.head-total {
                    flex: 0 1 $total-width;
                    text-align: center;
                }
            }
        }

        // .univer__table-body

        &-body {
            border-top: 1px solid rgb(35 43 102 / 40%);

            @media (max-width: 767.98px) {
                border-top: none;
            }

            ol {
                display: flex;
                justify-content: space-between;

                & > :not(:last-child) {
                    border-right: 1px solid rgba(35, 43, 102, 0.4);

                    @media (max-width: 767.98px) {
                        border-right: none;
                    }
                }

                li {
                    padding-top: 12px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    color: #233066;
                    width: 100%;

                    a {
                        text-decoration: underline;
                        color: inherit;
                    }

                    &.faculty-name {
                        flex: 0 1 $faculty-name-width;
                        padding-right: 20px;
                    }
                    &.profession {
                        flex: 0 1 $profession-width;
                        padding-left: 19px;
                        padding-right: 15px;
                    }
                    &.faculty-theme {
                        flex: 0 1 $faculty-theme-width;
                        text-align: center;
                    }
                    &.paid-place {
                        flex: 0 1 $paid-place-width;
                        text-align: center;
                    }
                    &.paid-points {
                        flex: 0 1 $paid-points-width;
                        text-align: center;
                    }
                    &.free-place {
                        flex: 0 1 $free-place-width;
                        text-align: center;
                    }
                    &.free-points {
                        flex: 0 1 $free-points-width;
                        text-align: center;
                    }
                    &.total {
                        flex: 0 1 $total-width;
                        text-align: center;
                    }
                }
            }
        }
    }

    // .univer__other

    &__other {
        margin-top: 36px;
        margin-bottom: 99px;
        display: flex;

        @media (max-width: 767.98px) {
            flex-direction: column-reverse;
            margin-top: 14px;
            margin-bottom: 0;
        }

        // .univer__other-information

        &-information {
            & > :not(:last-child) {
                margin-bottom: 25px;

                @media (max-width: 767.98px) {
                    margin-bottom: 18px;
                }
            }

            // .univer__other-information-article

            &-article {
                h3 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    color: #233066;
                    margin-bottom: 25px;

                    @media (max-width: 767.98px) {
                        margin: 28px 0 18px 0;
                        font-style: 12px;
                        line-height: 15px;
                    }
                }

                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #233066;

                    @media (max-width: 767.98px) {
                        font-style: 12px;
                        line-height: 15px;
                    }

                    strong {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
